// from all buttons
.btn{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: auto;
	border-radius: rem(8);
	border: rem(1) solid $main-dark-grey;
	padding: rem(6) rem(10);
	@include font(em(16), 400);
	cursor: pointer;
	background-color: $main-ffff;
	color: $main-dark-grey;
	@include transition($easeInOut-2s, border, background-color, color);

		&:hover,
		&:focus{
			outline: none;
			background-color: $main-4343;
			border: rem(1) solid $main-ffff;
			color: $main-ffff;
		}

		// модификаторы:
		&--black{
			background-color: $main-black;
			color: $main-bg;
			border: rem(1) solid $main-black;

			&:hover,
			&:focus{
				outline: none;
				background-color: transparent;
				border: rem(1) solid $main-black;
				color: $main-black;
			}
		}

		&--delete-mod{
			justify-content: flex-end;
			&::before{
				content: '\f014';
				font-family: 'FontAwesome';
				font-size: em(18);
				display: inline-flex;
				position: absolute;
				left: rem(10);
				color: $main-orange;
			}

			&:hover{
				&::before{
					color: $main-black;
				}
			}
		}

		&--add-mod{
			justify-content: flex-end;
			&::before{
				content: '\f055';
				font-family: 'FontAwesome';
				font-size: em(18);
				display: inline-flex;
				position: absolute;
				left: rem(10);
				color: $mark-green;
			}

			&:hover{
				&::before{
					color: $main-black;
				}
			}
		}

}