// стили для многоуровнего меню:
.harmonica-menu{
	display: flex;
	flex-direction: column;
	width: 100%;

		.harmonica-subcontent{
			display: none;
			padding: 0;
		}

		.cat-name,
		.model-name,
		.item-name{
			@extend %link-decor;
		}

		& > li.cat-name > ul > li.item-name > a{
			padding-left: rem(8);
		}

		& > li.cat-name > ul > li.item-name > ul > li.model-name > a{
			padding-left: rem(16);
		}

		& > li.cat-name > ul > li.item-name > ul{
			border-bottom: 1px solid #e1e8ed;
			background-color: white;
		}

		& > li.cat-name > ul > li.item-name > a.harOpen{
			margin-bottom: 0;
			padding-top: rem(8);
			padding-bottom: rem(8);
			background-color: white;
			border-bottom: 1px solid #e1e8ed;
			@include transition($easeOut-2s, padding, background-color)
		}

		& a{
			color: $invis-menu-txt;

			&:hover{
				color: $main-2a2a;
			}
		}

		.badge{
			display: inline-flex;
			align-items: center;
			justify-content: center;
			margin-left: auto;
			margin-right: rem(8);
		  padding: rem(3) rem(7);
		  @include font(em(11), 500);
		  line-height: 1;
		  text-align: center;
		  white-space: nowrap;
		  vertical-align: middle;
		  border-radius: rem(10);
			background-color: $main-lightsky;
			color: $main-white;
		}

		.arrow{
			position: absolute;
			right: rem(2);
			display: inline-flex;

			&::before{
				content: '\f105';
				font-family: FontAwesome;
				font-size: rem(18);
				color: $main-arrow-bg;
			}
		}

}