.content-sidebar{
	@include col();
	@include size(3);
	@include size-lg(12);

	max-height: 100vh;
	height: auto;
	overflow-x: hidden;
	overflow-y: visible;


		&__nav-item{}
		
		&__list-item{}
		
		// &__link-item{
		// 	@include font(em(18), 300);
		// 	color: $main-element-grey;
		// }

		@media screen and (max-width: 62rem){
			margin-bottom: rem(30);
		}
}// --end sidebar