.advert{
	padding: rem(35) 0 rem(40);

		.content{
			@include row-flex();
			@include lg-block{
				margin-left: 0;
				margin-right: 0;
			}

				&__head-item{
					@include font(em(24), 500);
					display: flex;
					justify-content: flex-start;
					flex-grow: 1;
					width: 100%;
					margin-bottom: rem(20);
				}

				&__item-section{
					@include size(12);
					@include size-lg(12);
					@include size-md(12);
					@include lg-block{
						margin: 0 auto;
					}
					
					padding: rem(22) 0 0;

						.btn{
							margin: 0 auto;
						}

				}
		}//-- end content
}//-- end section