.advert{
	@extend %section-padding;

		.content{
			@extend %content;

				&__item-section{
					@include size(12);
					@include size-lg(12);
					@include size-md(12);
					@include lg-block{
						margin: 0 auto;
					}
					
					padding: rem(22) 0 0;

						.btn{
							margin: 0 auto;
						}

				}
		}//-- end content
}//-- end section